{% extends "base.html" %}

{% block content %}

    <h1 class="my-5">
        This is the Note
    </h1>

    <div class="row row-cols3  g-2">
        <div class="col">
            <div class="p-3 border">
                    <h3>
                        {{ note.title }}
                    </h3>
                {{ note.text}}
            </div>

        </div>

    </div>


    <a href="{% url 'notes.update' pk=note.id %}" class="btn btn-primary my-5">Update</a>
    <a href="{% url 'notes.delete' pk=note.id %}" class="btn btn-danger my-5">Delete</a>
    <a href="{% url 'notes.listNotes' %}" class="btn btn-secondary my-5">Back</a>

{% endblock %}